# OS
.DS_Store

# Node
node_modules/
.next/
dist/

# Go
bin/
*.exe
*.dll
*.so
*.dylib

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Editor
.vscode/
.idea/
